:host{
    display: inline-block;
    position: relative;
}
.my-input{
    /*width: 100%;*/
    border: solid 1px #313242;
    border-radius: 5px;
    height: 42px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    padding: 0px 12px 0 8px;
    font-size: 1.1rem;
    font-family: 'DM Sans', sans-serif;
    outline: none;
    background: #313242;
    color: #fff;
}
.my-input::placeholder{
    color: rgb(143, 143, 143);
}
.my-input:focus::placeholder {
   opacity: 0;
   transition: opacity .3s;
}
.my-input:focus{
    border-color:#f0a535;
}
.my-input::-ms-clear, input::-ms-reveal {
    display: none;
}
.ng-touched.ng-invalid:is(input, textarea),
.ng-dirty.ng-invalid:is(input, textarea) {
  outline: 1px solid rgba(212, 66, 66, 0.696);
}
.my-input:focus.ng-touched.ng-invalid:is(input, textarea) ,
.my-input:focus.ng-dirty.ng-invalid:is(input, textarea) {
    border: none;
}

.my-button{
    font-family: 'DM Sans', sans-serif;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 12px;
    box-shadow:rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    transition: all .3s;
    font-weight: 500;
    font-size: 1.1rem;

    background: #f0a535;
    border: none;
    color: #fff;
}
.my-button:active{
    transform: scale(0.95);
}
.my-button:disabled{
    opacity: 0.65; 
    transform: scale(1);
}