@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
*{
    font-family: 'DM Sans', sans-serif;
    color: white;
}
.flex{
    display: flex;
}
.container{
    width: 100%;
}
.title{
    font-size: 1.1rem;
    width: 110px;
}
.field{
    column-gap: 280px;
    padding-top: 30px;
    padding-bottom: 20px;
    border-bottom: solid 1px rgb(167, 167, 167);
}
.input-validator-container{
    flex-direction: column;
    row-gap: 10px;
}
input{
    width: 320px;
}
.input-container{
    position: relative;
}
.input-container i{
    font-size: 1.2rem;
    position: absolute;
    right: 10px;
    top:12px
}
input::-ms-clear, input::-ms-reveal {
    display: none;
}
.error{
    font-size: 1.0rem;
    color: rgba(212, 66, 66, 0.696);
}
button{
    width: 170px;
    margin-top: 10px;
}
@media (max-width:768px){
    .field{
        flex-direction: column;
        row-gap: 15px;
        width: 95%;
        margin: auto;
    }
    .title{
        font-size: 1.0rem;
    }
    input{
        width: 100%;
    }
}