@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
*{
    font-family: 'DM Sans', sans-serif;
    color: white;
}
.flex{
    display: flex;
}
.container{
    width: 100%;
    margin: auto;
    max-width: 1300px;
}
.schedule{
    height: 580px;
    overflow: auto;
}
.calendar{
    justify-content: center;
}
table{
    border-collapse: collapse;
    min-width: 100%;
    box-sizing: border-box;
}
th{
    padding: 8px;
}
.title{
    border: solid 2px #2A283D;
}
td{
    height: 60px;
    border: solid 1px #302d44;
    position:relative;
}
.column-hour{
    min-width: 60px;
}
.hour{
    text-align: center;
}
.week{
    min-width: 140px;
}
.event{
    position: absolute;
    top: 0;
    background-color:rgb(230, 100, 48);
    z-index: 1;
    padding: 4px 5px;
    border-radius: 8px;
    display: flex;
    column-gap: 3px;
}
.event img{
    width: 52px;
    height: 52px;
    border-radius: 10px;
}
.model{
    font-size: 0.8rem;
    height: 52px;
    display: flex;
    align-items: center;
}
@media (max-width:570px){
    .container{
        flex-wrap: wrap-reverse;
    }
    .schedule{
      width: 100%;
    }
    .calendar{
        width: 100%;
    }
}