<div class="calendar">
    <div class="date flex">
        <p class="month-year">{{this.months[this.monthCurrent]+", "+this.yearCurrent}}</p>
        <div class="icons flex">
            <i class='bx bx-chevron-left arrow' (click)="changeDate(-1)"></i>
            <i class='bx bx-chevron-right arrow' (click)="changeDate(1)"></i>
        </div>
    </div>
    
    <ul class="week">
        <li class="week-name" *ngFor="let item of week">{{item}}</li>
    </ul>
    <ul class="days week">
        <li *ngFor="let item of daysLastMonth" 
        >
            <button class="other-month" (click)="selectDay(item)" [ngClass]="dayClass(item)" [disabled]="this.verifyDayLimit(item)">{{item.number}}</button>
            
        </li>
        <li *ngFor="let item of days"  
        >
            <button class="day" (click)="selectDay(item)" [ngClass]="dayClass(item)" [disabled]="this.verifyDayLimit(item)">{{item.number}}</button>
            
        </li>
        <li *ngFor="let item of daysNextMonth" 
        >
            <button class="other-month" (click)="selectDay(item)" [ngClass]="dayClass(item)" [disabled]="this.verifyDayLimit(item)">{{item.number}}</button>
            
        </li>
    </ul>
</div>
