<section class="flex container">
    <section class="background details-container" [ngStyle]="{'width': 'calc('+'100%'+' - '+'300px)'}" [ngSwitch]="this.optionSelected">
        <div *ngSwitchCase="'Information'">
           <app-basic-info-car></app-basic-info-car>
        </div>
        <div *ngSwitchCase="'Features'">
            <app-features-info-car></app-features-info-car>
        </div>
        <div *ngSwitchCase="'Images'">
            <app-images-select-car></app-images-select-car>
        </div>
        <div *ngSwitchCase="'Locations'">
            <app-locations-car></app-locations-car>
        </div>
    </section>
    <ul class="background options-container">
        <li (click)="this.optionSelected=option" class="flex option" *ngFor="let option of options" [ngClass]="{'selected':this.optionSelected==option}">
            <i class='bx bx-check-circle'></i>
            <p>{{option}}</p>
        </li>
    </ul>
</section>