<section class="container">
    <form [formGroup]="changePasswordForm">
        <section class="flex field">
            <h5 class="title">Old Password</h5>
            <div class="flex input-validator-container">
                <div class="input-container">
                    <input [type]="this.oldPasswordShow?'text':'password'" appMyInput formControlName="oldPassword">
                    <i [ngClass]="this.oldPasswordShow?'bx bxs-show':'bx bxs-hide'" (click)="this.oldPasswordShow=!oldPasswordShow"></i>
                </div>
                <div *ngIf="oldPasswordControl.invalid && oldPasswordControl.touched">
                    <p class="error" *ngIf="oldPasswordControl.hasError('required')">Required field</p>
                </div>
            </div>
        </section>
        <section class="flex field">
            <h5 class="title">New Password</h5>
            <div class="flex input-validator-container">
                <div class="input-container">
                    <input [type]="this.newPasswordShow?'text':'password'" appMyInput formControlName="newPassword">
                    <i [ngClass]="this.newPasswordShow?'bx bxs-show':'bx bxs-hide'" (click)="this.newPasswordShow=!newPasswordShow"></i>
                </div>
                <div *ngIf="newPasswordControl.invalid && newPasswordControl.touched">
                    <p class="error" *ngIf="newPasswordControl.hasError('required')">Required field</p>
                </div>
            </div>
        </section>
        <section class="flex field">
            <h5 class="title">Confirm news Password</h5>
            <div class="flex input-validator-container">
                <div class="input-container">
                    <input [type]="this.confirmPasswordShow?'text':'password'" appMyInput formControlName="confirmPassword">
                    <i [ngClass]="this.confirmPasswordShow?'bx bxs-show':'bx bxs-hide'" (click)="this.confirmPasswordShow=!confirmPasswordShow"></i>
                </div>
                <div *ngIf="changePasswordForm.invalid && confirmPasswordControl.touched">
                    <p class="error" *ngIf="changePasswordForm.hasError('passwordsMustBeEqual')">
                        Passwords must be the same</p>
                    <p class="error" *ngIf="confirmPasswordControl.hasError('required')  && 
                    !changePasswordForm.hasError('passwordsMustBeEqual')">Required field</p>
                </div>
            </div>
        </section>
        <button appMyButton [disabled]="changePasswordForm.invalid" (click)="this.click()">Change Password</button>
    </form>
    {{changePasswordForm.value|json}}
</section>
