<section class="container">
    <div class="container-stepper">
        <app-stepper>
            <app-step title="Basic info">
                <app-basic-info-car [isForUpdate]="false" ></app-basic-info-car>
                <div class="flex buttons">
                    <button appMyButton disabled stepperPrevious>Previous</button>
                    <button appMyButton [disabled]="formBasicInfo==false" stepperNext class="button-right">Next</button>
                </div>
            </app-step>
            <app-step title="Features">
                <app-features-info-car [isForUpdate]="false"></app-features-info-car>
                <div class="flex buttons">
                    <button appMyButton stepperPrevious>Previous</button>
                    <button appMyButton [disabled]="formFeature==false" stepperNext class="button-right">Next</button>
                </div>
            </app-step>
            <app-step title="Images">
                <app-images-select-car [isForUpdate]="false"></app-images-select-car>
                <div class="flex buttons">
                    <button appMyButton stepperPrevious>Previous</button>
                    <button appMyButton stepperNext class="button-right">Next</button>
                </div>
            </app-step>
            <app-step title="Locations">
                <app-locations-car [isForUpdate]="false"></app-locations-car>
                <div class="flex buttons">
                    <button appMyButton stepperPrevious>Previous</button>
                    <button appMyButton [disabled]="formLocation==false" class="button-right">Create</button>
                </div> 
            </app-step>
        </app-stepper>
    </div>
</section>
